<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
	<link rel="stylesheet" th:href="@{tenantStylesheetPath != null ? ${tenantStylesheetPath} : '/css/style.css'}">
	<script>
		var onloadCallback = function() {
            var recaptchaElement = document.getElementById('g-recaptcha');
            if (recaptchaElement) {
                grecaptcha.render(recaptchaElement, {
                    'sitekey': '[[${captchaSite}]]',
                    'callback': recaptchaCallback
                });
            }
        };
		
		function recaptchaCallback(response) {
            handleInputFields();
        }
		const passwordField = document.getElementById("password");
		const errorFieldPassword = document.getElementById("passwordError");
		const passwordMessageList = document.querySelectorAll("#password-message li");

		const policy = {
		minLength: parseInt('[[${pwdMin}]]'),
		maxLength: parseInt('[[${pwdMax}]]'),
		minUppercase: parseInt('[[${minUppercase}]]'),
		minLowercase: parseInt('[[${minLowercase}]]'),
		minDigits: parseInt('[[${minDigits}]]'),
		allowedSpecialChars: '[[${allowedSpecialChars}]]',
	    minSpecialChars: parseInt('[[${minSpecialChars}]]'),
		minConsecutiveLettersLength: parseInt('[[${minConsecutiveLettersLength}]]'),
		noConsecutive: true 
		};
		
		function containsForbiddenCharacters(password) {
		return /[\[\]{}]/.test(password);
		}

		function findRuleIndex(keyword, passwordMessageList) {
			for (let i = 0; i < passwordMessageList.length; i++) {
			const text = passwordMessageList[i].innerText.toLowerCase();
			if (text.includes(keyword.toLowerCase())) {
			return i;
			}
			}
			return -1;
		}

		function updateValidationUIByKeyword(keyword, isValid, passwordMessageList) {
			const index = findRuleIndex(keyword , passwordMessageList);
			console.log('index.......'+index);
			if (index !== -1) {
				const element = passwordMessageList[index]; 
				element.style.color = isValid ? "green" : "red";
				const icon = element.querySelector('i');
				if(icon){
					icon.className = isValid ? "fas fa-check" : "fas fa-times";
				}
			
			}
		}
		function decodeHtmlEntities(str) {
			const txt = document.createElement('textarea');
			txt.innerHTML = str;
			return txt.value;
		}
		function validatePassword() {
			const passwordField = document.getElementById("password");
			const errorFieldPassword = document.getElementById("passwordError");
			const passwordMessageList = document.querySelectorAll("#password-message li");
			const password = passwordField.value.trim();
			const policy = {
				minLength: parseInt('[[${pwdMin}]]'),
				maxLength: parseInt('[[${pwdMax}]]'),
				minUppercase: parseInt('[[${minUppercase}]]'),
				minLowercase: parseInt('[[${minLowercase}]]'),
				minDigits: parseInt('[[${minDigits}]]'),
				allowedSpecialChars: '[[${allowedSpecialChars}]]',
				minSpecialChars: parseInt('[[${minSpecialChars}]]'),
				minConsecutiveLettersLength: parseInt('[[${minConsecutiveLettersLength}]]'),
				noConsecutive: true 
			};
			let isValid = true;
			let messages = [];
			const minLengthValid = password.length >= policy.minLength;
			updateValidationUIByKeyword("characters minimum", minLengthValid, passwordMessageList);
			if (!minLengthValid) {
			isValid = false;
			messages.push(`Password should contain at least ${policy.minLength} characters.`);
			}
			const maxLengthValid = password.length <= policy.maxLength;
			updateValidationUIByKeyword("characters maximum", maxLengthValid, passwordMessageList);
			if (!maxLengthValid) {
				isValid = false;
				messages.push(`Password should not exceed ${policy.maxLength} characters.`);
			}
			const uppercaseValid = (password.match(/[A-Z]/g) || []).length >= policy.minUppercase;
			updateValidationUIByKeyword("uppercase", uppercaseValid, passwordMessageList);
			if (!uppercaseValid) {
			isValid = false;
			messages.push(`Password should contain at least ${policy.minUppercase} uppercase letter(s).`);
			}
			const lowercaseValid = (password.match(/[a-z]/g) || []).length >= policy.minLowercase;
			updateValidationUIByKeyword("lowercase", lowercaseValid, passwordMessageList);
			if (!lowercaseValid) {
		 isValid = false;
		 messages.push(`Password should contain at least ${policy.minLowercase} lowercase letter(s).`);
			}
			const digitValid = (password.match(/[0-9]/g) || []).length >= policy.minDigits;
			updateValidationUIByKeyword("number", digitValid, passwordMessageList);
			if (!digitValid) {
		 isValid = false;
		 messages.push(`Password should contain at least ${policy.minDigits} digit(s).`);
			}

		 	const rawAllowed = policy.allowedSpecialChars || "!@#$%^&*";
            const allowedSpecialChars = decodeHtmlEntities(rawAllowed); 

            const escaped = allowedSpecialChars.replace(/[-[\]/{}()*+?.\\^$|]/g, '\\$&');
            const specialCharRegex = new RegExp(`[${escaped}]`, 'g');
			const specialCharCount = (password.match(specialCharRegex) || []).length;
			const minSpecialValid = specialCharCount >= policy.minSpecialChars;

            const hasSpecialChar = specialCharRegex.test(password) && !/^\s+|\s+$/.test(password);
            updateValidationUIByKeyword("and should not contain space", hasSpecialChar, passwordMessageList);
            if (!hasSpecialChar) {
                isValid = false;
                messages.push(`Password should contain  ${policy.minSpecialChars} special character and should not contain space.`);
            }
			// messageSpecialCount = `Password should contain at least ${policy.minSpecialChars} special character`;
			// updateValidationUIByKeyword(messageSpecialCount, minSpecialValid, passwordMessageList);

			// if (!minSpecialValid) {
			// 	isValid = false;
			// 	messages.push(`Password should contain at least ${policy.minSpecialChars} special character`);
			// }

			const forbiddenValid = !containsForbiddenCharacters(password);
			updateValidationUIByKeyword("should not contain special characters", forbiddenValid, passwordMessageList);
			if (!forbiddenValid) {
			isValid = false;
			messages.push("Password should not contain special characters: [ ] { }");
			}
			
			return isValid;
		}
		document.addEventListener("DOMContentLoaded", function () {
            const passwordField = document.getElementById("password");
		   passwordField.addEventListener("input", function () {
				const password = document.getElementById('password').value;
				const passwordMessages = document.querySelectorAll('#password-message li');
				if (password === "") {
					// Reset all message colors and icons
					passwordMessages.forEach(function (message) {
						message.style.color = "gray";
						message.querySelector('i').className = "fas fa-times";
					});

					return;
				}
                validatePassword();
            });
           
        });
	</script>
	<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
    <div class="login-page">
			<div th:align="center">
				<img style="padding-bottom: 30px !important"  th:src="@{tenantLogoPath != null ? ${tenantLogoPath} : '/images/' + ${issuer} + '-logo.svg'}" alt="Harman" title="Harman" class="logo"/>
			</div>
	
			<div>
                <div class="password-header">Reset Password</div>
				
                <div class="error" style="text-align: center; padding-bottom: 20px; color: red; font-weight: 600; font-size: 14px;" th:if="${error != null}">
                  <p class="text-danger">[[${error}]]</p>
                  
                </div>
				<form th:action="@{|/${issuer}/recovery/reset|}" method="post">
				
					<div class="container-auth-input">
						<label for="password" class="hidden" style="font-size: 14px; font-weight: bold; font-family: sans-serif;">New Password</label>
						<input type="password" id="password" name="password" placeholder="New Password"/>
						<div class="error-message" style="display: none; color: red; margin-top: -4px; font-size: 12px; font-weight: bold;">This is required</div>
					</div>
						<ul id="password-message">
				<li th:each="message : ${pwdNote}">
					<i class=""></i> <span th:text="${message}"></span>
				</li>
			</ul>
					<div class="container-auth-input">
						<label for="confirmPassword" class="hidden" style="font-size: 14px; font-weight: bold; font-family: sans-serif;">Confirm Password</label>
						<input type="password" id="confirmPassword" name="confirmPassword"  placeholder="Confirm Password"/>
						<div class="error-message" style="display: none; color: red; margin-top: -4px; font-size: 12px; font-weight: bold;">This is required</div>

					</div>

					<input type="hidden" name="secret" th:value="${secret}" />
						
					<div id="g-recaptcha" class="g-recaptcha col-sm-5" th:if="(true == ${isCaptchaFieldEnabled})"
						 th:attr="data-sitekey=${captchaSite}">
					</div>
					<span id="captchaError" class="alert alert-danger col-sm-4"
						  style="display:none"></span>	
						
                    <div class="sign-in-custom">
						<button id="submit" type="submit" value="Submit" >
							Submit
						</button>
					</div>					
				</form>
			</div>
			
			<script th:inline="javascript">
				$(document).ready(function() {

					function handleInputFields() {
						var password = $('#password').val().trim();
						var confirmPassword = $('#confirmPassword').val().trim();
						var recaptchaResponse = $('#g-recaptcha-response').val();
						var isCaptchaFieldEnabled = $('#g-recaptcha').length > 0; 
									
						var areFieldsFilled = password !== '' && confirmPassword !== '';

						if (isCaptchaFieldEnabled) {
							areFieldsFilled = areFieldsFilled && recaptchaResponse !== '';
							}

						if (areFieldsFilled) {
							$('#submit').prop('disabled', false).addClass('enabled');
						} else {
							$('#submit').prop('disabled', true).removeClass('enabled');
						}
						

						$('.container-auth-input input').each(function () {
							var inputField = $(this);
							var errorMessage = inputField.siblings('.error-message');
							var label = inputField.siblings('label');

							if (inputField.val().trim() === '' && (inputField.is(':focus') || inputField.attr('data-dirty') === 'true')) {
								errorMessage.show();
							} else {
								errorMessage.hide();
							}

							if (inputField.val().trim() !== '') {
								label.removeClass('hidden');
							} else {
								label.addClass('hidden');
							}
						});
					}


					$('input[type="password"]').on('keyup', function() {
						handleInputFields();
					});

					$('input[type="password"]').on('blur', function() {
						$(this).attr('data-dirty', 'true');
						var errorMessage = $(this).siblings('.error-message');
						if ($(this).val().trim() === '') {
							errorMessage.show();
						} else {
							errorMessage.hide();
						}
						handleInputFields();
					});
					
					handleInputFields();
					

					window.handleInputFields = handleInputFields;
				});
			</script>

			<script th:inline="javascript" th:if="(true == ${isCaptchaFieldEnabled})">
				window.addEventListener('load', () => {
					const $recaptcha = document.querySelector('#g-recaptcha-response');
					if ($recaptcha) {
						$recaptcha.setAttribute('required', 'required');
					}
				})
			</script>
	</div>
	<div class="rights" th:fragment="footer">
		© <script>document.write(new Date().getFullYear());</script> HARMAN International. All Rights Reserved.
	</div>
</body>

</html>
