<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script>
        var onloadCallback = function () {
            var recaptchaElement = document.getElementById('g-recaptcha');
            if (recaptchaElement) {
                grecaptcha.render(recaptchaElement, {
                    'sitekey': '[[${captchaSite}]]',
                    'callback': recaptchaCallback
                });
            }
        };

        function recaptchaCallback(response) {
            handleInputFields();
        }
    </script>

    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
    <div class="login-page">
        <div th:align="center">
            <img style="padding-bottom: 30px !important" th:src="@{/images/logo.svg}" alt="Harman" title="Harman"
                class="logo" />
        </div>
        <div>
            <div class="password-header">Forgot Password</div>
            <div class="error"
                style="text-align: center; padding-bottom: 20px; color: red; font-weight: 600; font-size: 14px;"
                th:if="${error != null}">
                <p class="text-danger">[[${error}]]</p>
            </div>
            <div class="error"
                style="text-align: center; padding-bottom: 20px; color: red; font-weight: 600; font-size: 14px;"
                th:if="${message != null}">
                <p class="text-warning">[[${message}]]</p>
            </div>
            <form action="/recovery/forgotPassword" method="post">
                <div class="container-auth-input">
                    <label for="username" class="hidden"
                        style="font-size: 14px; font-weight: bold; font-family: sans-serif;">Username*</label>
                    <input type="text" id="username" name="username" placeholder="Username*" />
                    <div class="error-message"
                        style="display: none; color: red; margin-top: -4px; font-size: 12px; font-weight: bold;">This is
                        required</div>
                </div>

                <div class="container-auth-input2">
                    <label for="accountName" class="hidden"
                        style="font-size: 14px; font-weight: bold; font-family: sans-serif;">Account Name</label>
                    <input type="text" id="accountName" name="accountName" th:pattern="${T(org.eclipse.ecsp.oauth2.server.core.common.constants.IgniteOauth2CoreConstants).ACC_NAME_REGEX}" placeholder="Account Name" />
                </div>

                <div id="g-recaptcha" class="g-recaptcha col-sm-5" th:if="(true == ${isCaptchaFieldEnabled})"
                    th:attr="data-sitekey=${captchaSite}">
                </div>
                <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>

                <div class="sign-in-custom">
                    <button id="submit" type="submit" value="Submit">
                        Submit
                    </button>
                </div>

            </form>
        </div>

        <script th:inline="javascript">
            $(document).ready(function () {

                function handleInputFields() {
                    var username = $('#username').val().trim();
                    var accountName = $('#accountName').val().trim();
                    var recaptchaResponse = $('#g-recaptcha-response').val();
                    var isCaptchaFieldEnabled = $('#g-recaptcha').length > 0;

                    var areFieldsFilled = username !== '';

                    if (isCaptchaFieldEnabled) {
                        areFieldsFilled = areFieldsFilled && recaptchaResponse !== '';
                    }

                    if (areFieldsFilled) {
                        $('#submit').prop('disabled', false).addClass('enabled');
                    } else {
                        $('#submit').prop('disabled', true).removeClass('enabled');
                    }

                    $('.container-auth-input input,.container-auth-input2 input').each(function () {
                        var inputField = $(this);
                        var label = inputField.siblings('label');
                        var errorMessage = inputField.siblings('.error-message');

                        if (inputField.val().trim() === '' && (inputField.is(':focus') || inputField.attr('data-dirty') === 'true')) {
                            errorMessage.show();
                        } else {
                            errorMessage.hide();
                        }

                        if (inputField.val().trim() !== '') {
                            label.removeClass('hidden');
                        } else {
                            label.addClass('hidden');
                        }
                    });
                }

                $('input[type="text"]').on('keyup', function () {
                    handleInputFields();
                });

                $('input[type="text"], input[type="password"]').on('blur', function () {
                    $(this).attr('data-dirty', 'true');
                    var errorMessage = $(this).siblings('.error-message');
                    if ($(this).val().trim() === '') {
                        errorMessage.show();
                    } else {
                        errorMessage.hide();
                    }
                    handleInputFields();
                });
                handleInputFields();

                window.handleInputFields = handleInputFields;
            });
        </script>

        <script th:inline="javascript" th:if="(true == ${isCaptchaFieldEnabled})">
            window.addEventListener('load', () => {
                const $recaptcha = document.querySelector('#g-recaptcha-response');
                if ($recaptcha) {
                    $recaptcha.setAttribute('required', 'required');
                }
            })
        </script>
    </div>
    <!-- footer -->
    <div class="rights" th:fragment="footer">
        ©<script>document.write(new Date().getFullYear());</script> HARMAN International. All Rights Reserved.
    </div>
</body>
</html>