<!DOCTYE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FORGOT PASSWORD</title>
    <link rel="stylesheet" th:href="@{tenantStylesheetPath != null ? ${tenantStylesheetPath} : '/css/style.css'}">

   <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
    <div class="home-container">
		<h1 th:align="center">
			<img th:src="@{tenantLogoPath != null ? ${tenantLogoPath} : '/images/' + ${issuer} + '-logo.svg'}" alt="Harman" title="Harman" class="logo1" th:width="200" th:height="200"/>
		</h1>
		<div class="login-header">Reset Password</div>
		<br>
		<div style="text-align: center; padding-bottom: 20px; color: red; font-weight: 600; font-size: 14px;" th:if="${error != null}">
            <p>[[${error}]]</p>
        </div>
        <div style="text-align: center; padding-bottom: 20px; font-weight: 600; font-size: 14px;" th:if="${message != null}">
            <p>[[${message}]]</p>
        </div>
	</div>
	<div class="rights" th:fragment="footer">
    © <script>document.write(new Date().getFullYear());</script> HARMAN International. All Rights Reserved.
	</div>   	

</body>
</html>
