<!DOCTYPE  html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Login Failure</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{tenantStylesheetPath != null ? ${tenantStylesheetPath} : '/css/style.css'}">
</head>
<body>
<div class="jumbotron">
    <div class="error-container">
        <h2>Failure</h2>
        <p> Oops! Something went wrong! </p>
        <p> The application has encountered an unknown error.</p>
    </div>
</div>
<div class="rights" th:fragment="footer">
    © <script>document.write(new Date().getFullYear());</script> HARMAN International. All Rights Reserved.
</div>
</body>
</html>
