<!DOCTPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Agreement</title>
	<link rel="stylesheet" th:href="@{tenantStylesheetPath != null ? ${tenantStylesheetPath} : '/css/style.css'}">
</head>
<body>
	<div class="home-container">
	    <div th:align="center">
			<img style="padding-bottom: 30px !important; width: 140px !important; height: 80px !important" th:src="@{tenantLogoPath != null ? ${tenantLogoPath} : '/images/logo.svg'}" alt="Harman" title="Harman"
				 class="logo" />
		</div>
		<h2>Privacy Agreement</h2>
	</div>
	<div class="rights" th:fragment="footer">
    © <script>document.write(new Date().getFullYear());</script> HARMAN International. All Rights Reserved.
	</div> 
</body>
</html>
